<div *ngIf="channelUsers" class="userList">
  <div class="ui small center aligned header">
    CHANNEL USERS
  </div>
  <div class="ui big very relaxed middle aligned selection list">
    <div *ngFor="let u of channelUsers; let i=index" class="item">
      <img class="ui avatar image" [src]="u.profileUrl">
      <div class="content">
        <div class="header">{{c.nickname}}</div>
      </div>
    </div>
  </div>
</div>

<div class="userList">
  <div class="ui small center aligned header">
    CHAT USERS
  </div>
  <div class="ui big very relaxed middle aligned selection list">
    <div *ngFor="let usr of chatUsers; let i=index" class="item">
      <ng-container *ngIf="usr.nickname !== chatUser.nickname">
        <img class="ui avatar image" [src]="usr.profileUrl">
        <div class="content">
          <div class="header">{{usr.nickname}}</div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
