<div *ngIf="channelUsers" class="userList">
  <div class="ui small center aligned header">
    CHANNEL USERS
  </div>
  <div class="ui big very relaxed middle aligned selection list">
    <ng-container *ngFor="let u of channelUsers; let i=index">
      <div *ngIf="u.nickname !== chatUser.nickname" class="item">
        <img class="ui avatar image" [src]="u.profileUrl">
        <div class="content">
          <div class="header">{{u.nickname}}
            <a *ngIf="u.connectionStatus === 'offline'" class="ui red empty circular label"></a>
            <a *ngIf="u.connectionStatus === 'online'" class="ui green empty circular label"></a>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<div class="userList">
  <div class="ui small center aligned header">
    CHAT USERS
  </div>
  <div class="ui big very relaxed middle aligned selection list">
    <ng-container *ngFor="let usr of chatUsers; let i=index">
      <div *ngIf="usr.nickname !== chatUser.nickname" class="item">
        <img class="ui avatar image" [src]="usr.profileUrl">
        <div class="content">
          <div class="header">{{usr.nickname}}
            <a *ngIf="usr.connectionStatus === 'offline'" class="ui red empty circular label"></a>
            <a *ngIf="usr.connectionStatus === 'online'" class="ui green empty circular label"></a>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>