<div class="wrapper">
  <div *ngIf="loading" class="ui huge active loader"></div>

  <div class="leftContainer">
    <app-channels (channelEntered)="onChannelEntered($event)" (channelClicked)="onChannelClicked($event)" [chatUser]="chatUser"
      [channels]="openChannels"></app-channels>
    <app-conversations [conversations]="conversations" [chatUser]="chatUser"></app-conversations>
  </div>
  <div class="mainContainer">
    <app-chat-window (userSentMessage)="addSentMessageToArray($event)" #chatWindow [chatUser]="chatUser" [currentChannel]="currentChannel" [messages]="channelMessages"></app-chat-window>
  </div>
  <div class="rightContainer">
    <app-directory [chatUser]="chatUser" [chatUsers]="allChatUsers"></app-directory>
  </div>
</div>
