<div class="wrapper">
  <div *ngIf="loading" class="ui huge active loader"></div>

  <div class="leftContainer">
    <app-channels (channelEntered)="onChannelEntered($event)" (channelClicked)="onChannelClicked($event)" [chatUser]="chatUser"
      [channels]="openChannels" [currentChannel]="currentChannel"></app-channels>
  </div>
  <div class="mainContainer">
    <app-chat-window (messageDeleted)="userMessageDeleted($event)" (messageUpdated)="userMessageUpdated($event)" (userUpdated)="userProfileUpdated($event)"
      (userSentMessage)="addSentMessageToArray($event)" #chatWindow [chatUser]="chatUser" [currentChannel]="currentChannel"
      [messages]="channelMessages"></app-chat-window>
  </div>
  <div class="rightContainer">
    <app-directory (userClicked)="onUserClicked($event)" (conversationCreated)="onConversationCreated($event)" [channelUsers]="channelUsers"
      [chatUser]="chatUser" [chatUsers]="allChatUsers"></app-directory>
  </div>
</div>