<div class="channelList">
  <div class="ui small center aligned header">
    CHANNELS
  </div>
  <div class="ui big very relaxed middle aligned selection list">
    <div *ngFor="let c of channels; let i=index" class="item" [ngStyle]="(currentChannel && c.url===currentChannel.url) && {'border': '0.5px solid blue'}"
      (click)="enterOpenChannel(i)">
      <img class="ui avatar image" [src]="c.coverUrl">
      <div class="content">
        <div class="header">{{c.name}}</div>
      </div>
    </div>
  </div>
</div>
