.channelList {
  height: 50%;
  max-height: 50%;
  overflow: auto;
  padding: 15px;
}

.groupChatsList {
  height: 50%;
  max-height: 50%;
  overflow: auto;
  padding: 15px;
}

.groupModalContent {
  display: flex !important;
}

.groupCreation {
  height: 300px;
  max-height: 300px;
  overflow: auto;
  padding: 20px;
  width: 60%;
  border: 0.5px solid #eee;
  border-radius: 20px;
}

.usersList {
  height: 300px;
  max-height: 300px;
  overflow: auto;
  padding: 20px;
  width: calc(40% - 30px);
  margin-left:30px;
  border: 0.5px solid #eee;
  border-radius: 20px;
}
