<div class="messageContainer">
  <div class="messageUser" suiPopup [popupHeader]="message._sender.nickname" [popupText]="getDateFromMoment(message.createdAt)">
    <img class="ui avatar image" [src]="message._sender.profileUrl">
  </div>
  <div class="messageText" (mouseleave)="this.isEditVisible=false;" (mouseenter)="this.isEditVisible = this.message.sender.userId === this.chatUser.userId;">
    <span>{{message.message}}</span>
    <a *ngIf="isEditVisible" (click)="editingMessage=!editingMessage" style="float: right" class="ui label">
      <i class="edit icon"></i>
    </a>
    <a *ngIf="isEditVisible" (click)="deleteMessage()" style="float: right" class="ui label">
      <i class="trash alternate icon"></i>
    </a>
  </div>
  <div *ngIf="editingMessage">
    <div class="ui form">
      <div class="field">
        <textarea #messageTextarea rows="2" cols="40">{{message.message}}</textarea>
        <button (click)="editMessage()" class="ui tiny left attached button">
          <i class="save icon"></i>
        </button>
      </div>
    </div>
  </div>
</div>